@media (max-width: 900px) {
    
    header {
        background-color: #1c1c1c;
        width: 100%;
        height: 95px;
        position: fixed;
        left: 0%;
        top: 0px;
      }
    
    a {
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 1.5em;
        gap: 8px;
        position: fixed;
        left: 34%;
        top: 35px;
      }

    .carded > h1 {
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 1.1em;
        gap: 8px;
        position: absolute;
        left: 25%;
        top: 90px;
    }

    
}